/*variables*/
/*get-map*/
h2 {
  color: #ea5774;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px; }

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 15px;
  padding: 5px;
  color: #f5a5c4;
  text-align: justify; }

h3 {
  color: #ea5774;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px; }

/* Pagina Index */
.subtituloIndex {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: white;
  color: #ea5774; }

.parrafoIndex {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #f5a5c4;
  font-size: 1.1rem; }

.titulosImgIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .titulosImgIndex h2 {
    color: #ea5774;
    padding: 5px;
    font-family: 'PT Sans', sans-serif;
    margin: 5px;
    background-color: white; }

.container-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .container-img .imgIndex {
    width: 190px;
    margin-bottom: 100px; }

/*Pagina "Cursos" */
.lista {
  list-style-type: none;
  padding: 5px; }
  .lista .listaItem {
    margin: 20px;
    color: #f5a5c4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem; }

.tabla {
  margin: 50px 150px 150px 180px;
  background-color: #aaebf7;
  text-align: justify;
  width: 70%; }
  .tabla th, .tabla td {
    color: #a29ee8;
    padding: 8px;
    font-family: 'PT Sans', sans-serif; }

/* Pagina "Recetas"*/
.container-recetas {
  text-align: center;
  padding: 10px; }
  .container-recetas .recetasLink {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #f5a5c4;
    font-size: 1.7rem; }
    .container-recetas .recetasLink:hover {
      color: #a29ee8; }
  .container-recetas .imgRecetas {
    width: 400px;
    border: #aca8f1 solid 3px; }

/*Pagina "Nosotros"*/
.container-seccion {
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: auto;
  grid-template-areas: "seccion2 seccion2 seccion2 imgNosotros" "seccion2 seccion2  seccion2 imgNosotros"; }
  .container-seccion .seccion2 {
    grid-area: seccion2;
    font-family: 'Didact Gothic', sans-serif;
    color: #ea5774;
    font-size: 23px; }
  .container-seccion .imagenNosotros {
    padding: 10px 10px;
    margin: 0px 40px 20px 20px; }
  .container-seccion .imgNosotros {
    grid-area: imgNosotros;
    border: #e7fbbe solid;
    width: 500px;
    height: 370px;
    transition: linear 0.5s; }
    .container-seccion .imgNosotros:hover {
      width: 550px;
      height: 420px;
      border-color: #aca8f1; }

.container h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: #ea5774;
  font-size: 80px;
  padding: 30px; }

.navbar {
  background-color: #e7fbbe;
  width: 100%;
  margin: 10px auto;
  padding: 5px; }
  .navbar .navbar-nav {
    list-style-type: none;
    padding: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    .navbar .navbar-nav .nav-item {
      padding: 5px;
      margin: 10px; }
      .navbar .navbar-nav .nav-item .nav-link {
        text-decoration: none;
        color: #f5a5c4;
        font-size: 1.3rem;
        transition: linear 0.2s; }
        .navbar .navbar-nav .nav-item .nav-link:hover {
          color: #a29ee8;
          font-size: 1.7rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer {
  background-color: #e7fbbe;
  width: 100%;
  margin: 10px auto;
  padding: 50px; }
  .footer .redes {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: none; }
    .footer .redes .listaRedes {
      padding: 5px;
      margin: 10px; }
      .footer .redes .listaRedes .redesLink .social {
        width: 55px; }
        .footer .redes .listaRedes .redesLink .social:hover {
          width: 75px;
          transition: linear 0.3s; }

@media all and (max-width: 415px) {
  .navbar .logo {
    display: none; }
  .titulosImgIndex {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container-img {
    display: flex;
    flex-direction: row; }
    .container-img .imgIndex {
      width: 70px; }
  .container-seccion {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "seccion2 seccion2 seccion2 seccion2 " "imgNosotros imgNosotros imgNosotros imgNosotros"; }
    .container-seccion .seccion2 {
      text-align: justify;
      font-size: medium;
      margin: 20px 20px; }
    .container-seccion .imagenNosotros {
      display: grid;
      align-self: center; }
      .container-seccion .imagenNosotros .imgNosotros {
        border: #aca8f1 solid 2px;
        width: 250px;
        height: 190px;
        padding: 0px; }
  .tabla {
    margin-left: 20px;
    text-align: left;
    width: 200px; }
    .tabla th, .tabla td {
      background-color: #aaebf7;
      color: #a29ee8;
      padding: 5px;
      font-family: 'PT Sans', sans-serif; }
    .tabla td {
      background-color: #93e6f5;
      color: #a29ee8;
      padding: 5px;
      font-family: 'PT Sans', sans-serif; }
  .container-recetas {
    text-align: center;
    padding: 10px; }
    .container-recetas .recetasLink {
      text-decoration: none;
      list-style-type: none;
      color: #f5a5c4;
      font-size: 1.7rem; }
      .container-recetas .recetasLink:hover {
        color: #a29ee8; }
    .container-recetas .imgRecetas {
      width: 250px;
      border: #aca8f1 solid 3px; }
  .footer .redes {
    display: flex;
    justify-content: center; }
    .footer .redes .listaRedes .redesLink .social {
      width: 30px; } }
